body
{
    background-color: #4b4b4b;
    border:2px solid black;
}
header
{
   position:fixed;
    top:0;
    left:0;
    background-color: #ff4757;
    width:100%;
    z-index:99;
    border:2px ;
}
.nav
{
 margin:auto;
 max-width:1000px;
 height:50px;
 display:flex;
 justify-content:space-between;
 align-items: center;
   
}
img
{
    width:100%;
}
.shop-content
{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    grid-gap:1.5rem;
}
.food-box
{
    position:relative;
    background-color: #fff;
    padding:10px;
}
.container
{
    padding:16px;
    
    margin:auto;
    max-width:1000px;
    background-color: red;
    
}
.pic:hover img
{
    transform: scale(1.5);
}
.pic 
{
    overflow:hidden;
}
.food-box i
{
    background-color: aqua;
    position: absolute;
    bottom:0;
    right:0;
    padding:10px;
    cursor: pointer;
}
.food-box i:hover
{
    background-color: red;
}
.cart
{
    position:fixed;
    top:0px;
    right:-440px;
    width: 400px;
   height:100vh;
    overflow-y:auto;
    background-color:white;
   transition: 1s;
   padding:20px;
   

}
.active
{
    right: 0;
    
}
.cart-title
{
    text-align: center;
    font-size:1.5rem;
    margin-bottom: 1rem;
}
.cart-box
{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    gap:1rem;
    padding-bottom:10px;
    margin-top:1rem;
}
.detail-box
{
    display:grid;
    grid-template-columns:1fr;
    row-gap:  1rem;;
}
.price-box
{
    display:flex;
    justify-content: space-between;

}
.cart-quantity
{
    width:2.4rem;
    text-align:center;
}
.cart-box i
{
    color: red;
}
.total
{
    margin-top: 1.5rem;
    display:flex;
    justify-content: flex-end;
}
.btn-buy
{
   background-color:#2f3542;
   color:white;
   cursor:pointer;
}
.cart-close
{
    position:absolute;
    top:0px;
    right:0px;
    font-size:2rem;
    cursor:pointer;
}
/*
.nav
{
    
    margin:auto;
    width:100%;
   
    display:flex;
    
}



.food-box
{
    background-color: #fff;
    padding:10px;
}
*/
